---
- name: ROLLBACK | ARTACK name-here | stag
  hosts: all # or a host-group
  vars:
      ansistrano_deploy_to: "/var/www/my-app"

      # Hooks: custom tasks if you need them
#      ansistrano_before_symlink_tasks_file: "{{ playbook_dir }}/<your-deployment-config>/my-before-symlink-tasks.yml"
#      ansistrano_after_symlink_tasks_file: "{{ playbook_dir }}/<your-deployment-config>/my-after-symlink-tasks.yml"
#      ansistrano_before_cleanup_tasks_file: "{{ playbook_dir }}/<your-deployment-config>/my-before-cleanup-tasks.yml"
#      ansistrano_after_cleanup_tasks_file: "{{ playbook_dir }}/<your-deployment-config>/my-after-cleanup-tasks.yml"

  roles:
    - { role: ansistrano.rollback }
